<!DOCTYPE html>
<html ng-app="palindromeApp">
<head>
	<title>palindrome</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
    <script src="script/app.js"></script>

</head>
<body>
<div ng-controller="palindromeCtrl">
<h3><br>AngularJs palindrome </h3></br>
Enter string/number:<input type="text" ng-model="string" />
<button class="btn-primary" type="submit"  ng-click="palindrome(string)">click</button>
<br/><h4/><div ng-repeat=" output in string track by $index"> {{output}}</div>
<!--<br/><h4/>{{ num }} -->


</body>
</html>